{% extends "layout.html" %}

{% block content %}
<section id="Videojuegos">
    <h2>Pagos de Videojuegos</h2>
    <div class="contenedor_videjuegos">
        <div id="riot_games">
            <figure>
                <a href="data/no_page.html" target="blank">
                    <img src="data/imagenes/Riot_Games.png" alt="Riot games" title="Centro de pagos Riot Games" />
                </a>
            </figure>
        </div>
        <div id="garena">
            <figure>
                <a href="https://pagostore.com/app" target="blank">
                    <img src="data/imagenes/garena.png" alt="Garena" title="Centro de pagos de Garena" />
                </a>
            </figure>
        </div>
        <div id="softnyx">
            <figure>
                <a href="https://billing.softnyx.com/Default_Pop.aspx" target="blank">
                    <img src="data/imagenes/Logo_Softnyx.png" alt="Softnyx" title="Centro de pagos de Softnyx" />
                </a>
            </figure>
        </div>
        <div id="epic_games">
            <figure>
                <a href="data/no_page.html" target="blank">
                    <img src="data/imagenes/epic-games.webp" alt="Epic Games" title="Centro de pagos de Epic Games" />
                </a>
            </figure>
        </div>
        <div id="steam">
            <figure>
                <a href="data/no_page.html" target="blank">
                    <img src="data/imagenes/steam.jpg" alt="Steam" title="Centro de pagos de Steam" />
                </a>
            </figure>
        </div>
    </div>
</section>
{% endblock}